<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Converter</title>
</head>
<body>
    <div>
        <a href="/">Back</a>
        <h1>Length</h1>

        <form method="post">
            <input type="number" name="lengthValue" placeholder="Enter length" required>
            <select name="fromUnit">
                <option value="mm">Millimeters</option>
                <option value="cm">Centimeters</option>
                <option value="m">Meters</option>
                <option value="km">Kilometers</option>
            </select>
            <select name="toUnit">
                <option value="mm">Millimeters</option>
                <option value="cm">Centimeters</option>
                <option value="m">Meters</option>
                <option value="km">Kilometers</option>
            </select>
            <button type="submit">Convert</button>
        </form>
        {{if .Result}}<p>Result: {{.Result}} {{.ToUnit}}</p>{{end}}
    </div>
    
</body>
</html>